<div class="data-box">
    <button>Novo Paciente</button>
    <div class="input-box">
        <label>Procurar:</label>
        <input type="text" placeholder="Digite o nome do Paciente">
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Nome</th>
            <th>Sexo</th>
            <th>Convênio</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <img src="https://raw.githubusercontent.com/CrislaineLuana/AngularCrudCompleto-WebAPI/refs/heads/master/src/assets/images/Ativo.png" style="height: 20px; width: 20px;">
                <img src="https://raw.githubusercontent.com/CrislaineLuana/AngularCrudCompleto-WebAPI/refs/heads/master/src/assets/images/Inativo.png" style="height: 20px; width: 20px;">
            </td>
            <td>Paciente</td>
            <td>Sexo</td>
            <td>Convênio</td>
            <td>
                <button>Editar</button>
                <button>Detalhes</button>
            </td>
            <td><button>Excluir</button></td>
        </tr>
    </tbody>
</table>






<div class="data-box">
    <button>Novo Médico</button>
    <div class="input-box">
        <label>Procurar:</label>
        <input type="text" placeholder="Digite o nome do Paciente">
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Nome</th>
            <th>CRM</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <img src="https://raw.githubusercontent.com/CrislaineLuana/AngularCrudCompleto-WebAPI/refs/heads/master/src/assets/images/Ativo.png" style="height: 20px; width: 20px;">
                <img src="https://raw.githubusercontent.com/CrislaineLuana/AngularCrudCompleto-WebAPI/refs/heads/master/src/assets/images/Inativo.png" style="height: 20px; width: 20px;">
            </td>
            <td>Médico</td>
            <td>BR1234</td>
            <td>
                <button>Editar</button>
                <button>Detalhes</button>
            </td>
            <td><button>Excluir</button></td>
        </tr>
    </tbody>
</table>